/* @@MODNAM@@.c - XXX module description; handled by XXX
 * swh - switch ssh front-end - (C) XXX year, XXX name
 * See README for contact-, COPYING for license information. */

#if HAVE_CONFIG_H
# include <config.h>
#endif

#define LOG_MOD MOD_@@UMODNAM@@

#include "@@MODNAM@@.h"

#include "common.h" //XXX adjust path
#include "log.h" //XXX adjust path

void
@@MODNAM@@_init(void)
{
}
