/* @@MODNAM@@.h - XXX module description; handled by XXX
 * swh - switch ssh front-end - (C) XXX year, XXX name
 * See README for contact-, COPYING for license information. */

#ifndef @@UMODNAM@@_H
#define @@UMODNAM@@_H

void @@MODNAM@@_init(void);

#endif
